form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    padding-top: 23px;
}

form div {
    width: 80%;
}

label {
    font: 16px var(--secondary-font), sans-serif;
    font-weight: var(--secondary-font-bold-weight);
    margin-bottom: var(--space-xs);
    padding: 0;
    color: var(--primary-color);
    text-align: left;
    display: block;
}

div .boton {
    margin-top: 20px;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

input,
textarea,
select {
    font: 16px var(--secondary-font), sans-serif;
    font-weight: var(--secondary-font-normal-weight);
    border: var(--primary-color) solid 1px;
    border-radius: 6px;
    padding: var(--space-sm);
    margin-bottom: var(--space-md);
    background: none;
    width: 100%;
}

input[type='submit'] {
    font-weight: var(--secondary-font-bold-weight);
    border-radius: 25px;
    background: var(--primary-color);
    color: var(--white-color);
    padding: var(--space-xs);
    cursor: pointer;
}

input[type='submit']:hover {
    opacity: 0.8;
}
