@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    /* COLORS */
    --primary-color: #3d6697;
    --secondary-color: #5e5e5e;
    --black-color: black;
    --white-color: white;

    /* FONTS and WEIGHTS*/
    --primary-font: 'Sora';
    --primary-font-normal-weight: 600;
    --primary-font-bold-weight: 700;

    --secondary-font: 'Roboto';
    --secondary-font-normal-weight: 300;
    --secondary-font-regular-weight: 400;
    --secondary-font-bold-weight: 700;

    /* SPACING */
    --space-unit: 16px;
    --space-xxs: calc(0.25 * var(--space-unit)); /* 4px */
    --space-xs: calc(0.5 * var(--space-unit)); /* 8px */
    --space-sm: calc(0.75 * var(--space-unit)); /* 12px */
    --space-md: calc(1.25 * var(--space-unit)); /* 20px */
    --space-lg: calc(2 * var(--space-unit)); /* 32px */
    --space-xl: calc(3.25 * var(--space-unit)); /* 52px */
    --space-xxl: calc(5.25 * var(--space-unit)); /* 84px */
}
