div .gasto {
    display: flex;
    width: 95%;
    height: 98px;
    border: solid 2px var(--primary-color);
    border-radius: 20px;
    padding: var(--space-sm);
    margin: var(--space-sm);
}
div h3 {
    margin: var(--space-sm);
}
