main div:first-child {
    margin-top: var(--space-lg);
}

main div:first-child h2 {
    font-family: var(--primary-font);
    font-weight: lighter;
}

main .container {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    width: 530px;
    height: 500px;
}

main {
    display: flex;
    justify-content: center;
}
